<launch> 
    <node pkg = "roberto_test_navigation" type = "key_vel_publisher.py" name = "key_vel_publisher" output = "screen">
    </node>
    
    <node name="disable_global_obstacle_laser_layer" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters  /move_base/global_costmap/obstacle_laser_layer">
        <param name="enabled" type="bool" value="false" /> 
    </node>
    <node name="disable_global_obstacle_rgbd_layer" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters  /move_base/global_costmap/obstacle_rgbd_layer">
        <param name="enabled" type="bool" value="false" /> 
    </node>
    <!--
    <node pkg = "roberto_ik_planner" type="ik_planner.py" name = "ik_planner"  output="screen">
    </node>
    -->
</launch>
